:root {
  --white: white;
  --black: hsl(0, 100%, 6%);
  --primary: hsl(295, 100%, 88%);
  --primary-dk: hsl(295, 100%, 50%);
  --primary-dkr: hsl(295, 100%, 25%);
  --primary-lt: hsl(295, 100%, 97%);
}
