.box {
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 2px 3px -1px hsla(0, 0%, 0%, 0.15);
  border: 0.05rem solid hsl(0, 0%, 85%);
  cursor: pointer;
}

.box:hover {
  background: hsl(34, 100%, 98%);
  box-shadow: 0px 2px 6px -1px hsla(0, 0%, 0%, 0.35);
  transform: scale(1.05);
  border: 0.05rem solid hsl(0, 0%, 85%);
}

.animal h4,
.employee h4,
.location h4,
.customer h4,
.product h4 {
  margin-bottom: 0rem;
  color: var(--primary-dk);
  font-family: var(--copy-font);
  letter-spacing: -0.05ch;
}

/* WOOHOO! 😜 */
.product h4::before {
  content: '🍬 ';
}

.animals p,
.employees p,
.locations p,
.customers p,
.products p {
  color: var(--black);
  margin: 0 0 0;
  line-height: 1.5;
}

.products p {
  margin-left: 1.45rem;
}
